header {
    background-color: rgb(56, 56, 56);
    width: 100vw;
    height: 20vw;
}

body {
    background-color: rgb(207, 208, 208);
    height: 100vw;
    
    

 }

 .white {
    background-color: white;
    width: 70vw;
    height: 85vw;
    margin: auto;
    position: relative;
 }

 .black {
    
    background-color: black;
    width: 70vw;
    height: 15vw;
    margin: auto;
    position: relative;
 }
    
    
    
 